<mat-toolbar color="warn">
    <mat-toolbar-row>

        <img width="40" alt="Angular Logo" src="assets/img/angularlogo.svg" />
        <span class="ml-1">¿Esta seguro que desea Eliminar?</span>

    </mat-toolbar-row>
</mat-toolbar>

<div class="d-flex justify-content-center mt-2 mb-2">
    <img src="assets/img/delete_40623.png" width="130px" alt="" srcset="">
</div>

<div class="container">
    <div class="row">
        <div class="col-6 text-center"><button mat-raised-button color="primary" (click)="confirmar()">Aceptar</button></div>
        <div class="col-6 text-center"><button mat-raised-button color="warn" (click)="noCLick()">Cancelar</button></div>
    </div>
    
    
    
</div>